<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Header</title>
</head>
<body>
<div class="ui fixed inverted menu" data-th-fragment="header">
    <!--菜单-->
    <div class="ui simple dropdown item"><i class="content icon"></i>菜单
        <div class="menu">
            <div class="ui left pointing dropdown link item">声音
                <div class="menu">
                    <a class="item" href="/search/resource?type=music">音乐</a>
                    <a class="item" href="/search/resource?type=sound">音效</a>
                </div>
            </div>
            <a class="item" href="/search/resource?type=game">游戏素材</a>
            <a class="item" href="/search/resource?type=picture">图片</a>
            <a class="item" href="/search/resource?type=video">视频</a>
            <a class="item" href="/search/resource?type=other">其他</a>
        </div>
    </div>
    <!--logo-->
    <a href="/index" class="header item">
        <img class="logo" src="/favicon.ico"> CC0资源
    </a>
    <div sec:authorize="hasRole('ADMIN')" class="item right">
        <div class="ui simple dropdown" style="padding-right: 20px">
            控制台
            <div class="menu">
                <a sec:authorize="hasRole('ADMIN')" class="item" href="/admin/resource"
                   th:action="@{/admin/resource}">资源审核</a>
                <a sec:authorize="hasRole('ADMIN')" class="item" href="/admin/comment"
                   th:action="@{/admin/comment}">评论管理</a>
                <a sec:authorize="hasRole('ADMIN')" class="item" href="/admin/user"
                   th:action="@{/admin/user}">用户管理</a>
            </div>
        </div>
    </div>
    <div class="right menu">
        <!--<div class="item">
            <div class="ui transparent inverted icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>-->
        <!--搜索框-->
        <div class="item">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input id="searchText" type="text" placeholder="Search">
                <button id="searchButton" class="ui button">Submit</button>
            </div>
        </div>
        <!--个人信息-->
        <div sec:authorize="isAuthenticated()" class="item right">
            <div class="ui simple dropdown" style="padding-right: 20px">
                个人信息 <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/usermessage" th:action="@{/usermessage}">更改头像</a>
                    <a class="item" href="/userspace" th:action="@{/userspace}">个人空间</a>
                    <a class="item" href="/user/resource/management"
                       th:action="@{/user/resource/management}">资源管理</a>
                    <a class="item" href="/user/comment/management"
                       th:action="@{/user/comment/management}">评论管理</a>
                    <a class="item uploadcourse" href="/api/resource/add" th:action="@{/api/resource/add}">上传资源</a>
                </div>
            </div>
            <div>
                <form action="/logout" th:action="@{/logout}" method="post">
                    <button class="ui primary button logout">退出</button>
                </form>
            </div>
        </div>
        <!--登录，注册-->
        <div sec:authorize="isAnonymous()" class="item">
            <a class="ui primary button userlogin">登录 </a>
        </div>
        <div sec:authorize="isAnonymous()" class="item">
            <a class="ui button userreg" href="/users/add">注册 </a>
        </div>
    </div>
</div>

</body>
</html>