<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CC0资源网站">
    <meta name="author" content="dyq">
    <!--favicon图标-->
    <link rel="icon" href="/favicon.ico">
    <!--semantic.css-->
    <link rel="stylesheet" href="/semantic/semantic.min.css" th:href="@{/semantic/semantic.min.css}"/>
    <title>云智学习</title>
    <!--layui.css-->
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/emoji/css/emoji.css" rel="stylesheet">
</head>
<body>
<!--header-->
<div th:replace="~{fragments/header::header}"></div>
<!--content-->
<div style="margin-top: 10%;margin-bottom: 5%;margin-right: 0%!important;margin-left: 0%!important">
    <!--<ul class="flow-default" id="loadResource"></ul>-->
    <!--图片项目-->
    <div style="margin-top: 5%;margin-left: 10%;margin-right: 10%">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="resource">
                        <img th:if="${not #strings.equals('picture', resource.type)}"
                             src="/images/avatar/large/daniel.jpg" th:src="'/images/resource/'+${resource.type}+'.jpg'">
                        <img th:if="${#strings.equals('picture', resource.type)}"
                             src="/images/avatar/large/daniel.jpg" th:src="${resource.filePath}">
                    </div>
                    <div class="content">
                        <span hidden id="esDocumentId" th:text="${resource.id}"></span>
                        <a class="header" th:text="${resource.fileName}">丹尼尔 路易斯</a>
                        <div class="description">描述：<span th:text="${resource.description}"></span></div>
                    </div>
                    <div class="extra content">
                        <span th:text="${resource.type}"></span><br/><br/><br/>
                        <a th:href="@{/services/resource/}+${resource.id}">下载</a>
                        <span style="float: right;margin-right: 3%"><span
                                th:text="${resource.fileSize}"></span>KB</span>
                        <!--href="/download/image/?8"-->
                        <!--<a style="float: right" th:href="@{/download/image/}+${image.id}">下载</a>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui card center"
         style="margin-top: 10%;margin-left: 10%;margin-right: 10%;margin-bottom: 10%;width: 80%;">
        <div class="content">
            <div class="header">相关资料</div>
        </div>
        <div class="content">
            <div class="ui three column grid site-demo-flow" id="loadResourceDetail"></div>
        </div>
    </div>
    <!--<div class="ui card center"会让框在中间-->
    <div class="ui card" style="margin-top: 10%;margin-left: 10%;margin-right: 10%;margin-bottom: 10%;width: 80%;">
        <div class="content">
            <div class="header">评论详情</div>
        </div>
        <div class="content">
            <!--comment-->
            <div th:replace="~{/fragments/comment::comment}"></div>
        </div>
    </div>
</div>
<!--footer-->
<div th:replace="~{/fragments/footer::footer}"></div>

<div>
    <!--<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->
    <!--<script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    --><!-- Begin emoji-picker JavaScript -->
    <script src="emoji/js/config.js" th:src="@{/emoji/js/config.js}"></script>
    <script src="emoji/js/util.js" th:src="@{/emoji/js/util.js}"></script>
    <script src="emoji/js/jquery.emojiarea.js" th:src="@{/emoji/js/jquery.emojiarea.js}"></script>
    <script src="emoji/js/emoji-picker.js" th:src="@{/emoji/js/emoji-picker.js}"></script>
    <!-- End emoji-picker JavaScript -->
    <script>
        $(function () {
            // Initializes and creates emoji set from sprite sheet
            window.emojiPicker = new EmojiPicker({
                emojiable_selector: '[data-emojiable=true]',
                iconSize: 25,
                assetsPath: 'emoji/img/',
                popupButtonClasses: 'fa fa-smile-o'
            });
            // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
            // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
            // It can be called as many times as necessary; previously converted input fields will not be converted again
            window.emojiPicker.discover();
        });
    </script>
</div>

<!-- 显示时间多久以前-->
<script src="/js/timeago.min.js" th:src="@{/js/timeago.min.js}" type="text/javascript"></script>
<!-- form回调-->
<script src="/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}" type="text/javascript"></script>
<script src="/js/custom/search/resourcedetail.js" th:src="@{/js/custom/search/resourcedetail.js}"
        type="text/javascript"></script>
<script src="/js/custom/comment.js" th:src="@{/js/custom/comment.js}" type="text/javascript"></script>
<!-- Begin emoji-picker JavaScript -->
<script src="emoji/js/config.js" th:src="@{/emoji/js/config.js}"></script>
<script src="emoji/js/util.js" th:src="@{/emoji/js/util.js}"></script>
<script src="emoji/js/jquery.emojiarea.js" th:src="@{/emoji/js/jquery.emojiarea.js}"></script>
<script src="emoji/js/emoji-picker.js" th:src="@{/emoji/js/emoji-picker.js}"></script>
<!-- End emoji-picker JavaScript -->
</body>
</html>