<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>资源审核</title>
    <style>
        body {
            margin: 10px;
            padding-top: 50px;
        }
    </style>
</head>
<body>
<div id="app" style="margin-top: 10px">
    <!--header-->
    <div th:replace="~{fragments/header::header}"></div>
    <!--content-->
    <!--footer-->
    <div th:replace="~{/fragments/footer::footer}"></div>
</div>
<table class="layui-hide" id="demo" lay-filter="test"></table>
</body>
<script type="text/html" id="fileNameTpl">
    <a href="{{d.filePath}}" class="layui-table-link" target="_blank">{{ d.fileName }}</a>
</script>
<script type="text/html" id="statusTpl">
    {{#  if(d.status == 0){ }}
    未审核
    {{#  } else if(d.status == 1) { }}
    审核通过
    {{#  } else { }}
    审核拒绝
    {{#  } }}
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="agree">审核通过</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="oppose">审核不通过</a>
</script>
<script>
    var layer, table, element, laydate, form;
    var t = [
        /*{type: 'checkbox', fixed: 'left'}*/
        , {field: 'id', title: 'ID', sort: true, hide: true,}
        , {field: 'fileName', title: '名称', sort: true, templet: '#fileNameTpl',}
        , {field: 'type', title: '类型', sort: true,}
        , {field: 'description', title: '描述', sort: true,}
        , {field: 'filePath', title: '路径', hide: true}
        , {field: 'fileSize', title: '大小(KB)', sort: true,}
        , {field: 'userId', title: '上传用户id', sort: true,}
        , {field: 'status', title: '状态', sort: true, templet: '#statusTpl',}
        , {field: 'averageRate', title: '评分', sort: true, hide: true}
        , {field: 'edit', title: '可编辑', hide: true}
        , {fixed: 'right', width: 200, align: 'center', toolbar: '#barDemo'}
    ];
    layui.use(['laydate', 'laypage', 'layer', 'table', 'element', 'form'], function () {
        layer = layui.layer //弹层
            , table = layui.table //表格
            , element = layui.element //元素操作
            , laydate = layui.laydate
            , form = layui.form

        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值

            // 获取CSRF Token
            let csrfToken = $("meta[name='_csrf']").attr("content");
            let csrfHeader = $("meta[name='_csrf_header']").attr("content");
            if (layEvent === 'agree') {
                layer.confirm('真的审核通过这个资源吗？', function (index) {
                    $.ajax({
                        url: "/api/resource/" + obj.data.id + "/agree",
                        type: 'put',
                        async: true,
                        dataType: 'json',
                        beforeSend: function (request) {
                            request.setRequestHeader(csrfHeader, csrfToken); // 添加CSRF Token
                        },
                        success: function () {
                            obj.del(); //删除对应行（tr）的DOM结构
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.msg('审核通过', {offset: 'lb'});
                            });
                        },
                        error: function () {
                            layui.use(['layer'], function () {
                                let layer = layui.layer;
                                layer.msg("审核失败！");
                            });
                        }
                    })
                    layer.close(index);
                });
            } else if (layEvent === 'oppose') {
                layer.confirm('真的审核拒绝这个资源吗？', function (index) {
                    $.ajax({
                        url: "/api/resource/" + obj.data.id + "/oppose",
                        type: 'put',
                        async: true,
                        dataType: 'json',
                        beforeSend: function (request) {
                            request.setRequestHeader(csrfHeader, csrfToken); // 添加CSRF Token
                        },
                        success: function () {
                            obj.del(); //删除对应行（tr）的DOM结构
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.msg('审核拒绝', {offset: 'lb'});
                            });
                        },
                        error: function () {
                            layui.use(['layer'], function () {
                                let layer = layui.layer;
                                layer.msg("审核失败！");
                            });
                        }
                    })
                    layer.close(index);
                });
            }
        });
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                resources: [],

            },
            watch: {},
            created: function () {
                self = this;
                //执行一个 table 实例
                table.render({
                    elem: '#demo'
                    , id: 'testReload'
                    , url: '/api/resource/list?status=0'
                    , title: '资源管理表'
                    , page: true //开启分页
                    /* , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档*/
                    //, toolbar: true
                    //, defaultToolbar: ['filter', 'print', 'exports']
                    , cols: [t]
                });
            },
            methods: {}
        })
    });


</script>
</html>
