<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="云智教育学习平台">
    <meta name="author" content="dyq">
    <!--favicon图标-->
    <link rel="icon" href="/favicon.ico">
    <!--semantic.css-->
    <link rel="stylesheet" href="/semantic/semantic.min.css" th:href="@{/semantic/semantic.min.css}"/>
    <title>云智学习</title>
    <!--layui.css-->
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
</head>
<body>
<!--header-->
<div th:replace="~{fragments/header::header}"></div>
<!--content-->
<div style="margin-top: 10%;margin-bottom: 5%;margin-right: 0%!important;margin-left: 0%!important">
    <h3>注册声明</h3>
    各条款标题仅为帮助您理解该条款表达的主旨之用，不影响或限制本协议条款的含义或解释。为维护您自身权益，建议您仔细阅读各条款具体表述。<br>
    您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可向客服咨询。<br>
    当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与千图网达成一致，成为千图网网站“用户”。
    阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。如果您未申请注册流程，或者在本协议生效前已成为注册用户，则您通过访问和/或使用本网，即视为您表示同意接受本协议的全部内容，否则请您不要访问或使用本网平台网站。<br>
    登录用户上传的资源应保证为CC0资源，如果不是CC0资源，造成的所有后果由用户自己承担。
</div>
<!--footer-->
<div th:replace="~{/fragments/footer::footer}"></div>
</body>
</html>